@font-face {
    font-family: 'Signika';
    src: url('SignikaNegative-VariableFont_wght.ttf') format('tff');
    font-weight: 600;
    font-style: normal;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Signika';
}

#content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    background-color: #264653;
    width: 100vh;
    display: flex;
    justify-content: center;
    gap: 10px;
}